@inject IUserManager UserManager
@inject ILoginManager LoginManager

<div class="card mb-4">
    <div class="card-header">
        <p>Change Password</p>
    </div>
    <div class="card-body">
        <EditForm Model="@UpdateUser" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @if (!String.IsNullOrEmpty(AlertBox))
            {
                <div class="alert alert-warning">@AlertBox</div>
            }

            <div class="form-group">
                <InputText class="form-control" type="password" Placeholder="Old Password" @bind-Value="@UpdateUser.OldPassword"></InputText>
            </div>

            <div class="form-group">
                <InputText class="form-control" type="password" Placeholder="New Password" @bind-Value="@UpdateUser.NewPassword"></InputText>
            </div>
            <div class="form-group">


                <InputText class="form-control" type="password" Placeholder="Verify New Password" @bind-Value="@UpdateUser.VerifyNewPassword"></InputText>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public UserModel CurrentUser { get; set; } = new();

    UpdateUserInfoModel UpdateUser { get; set; } = new UpdateUserInfoModel();

    string AlertBox { get; set; }


    async Task HandleSubmit()
    {
        LoginModel VerifyLogin = new LoginModel()
            {
                Username = CurrentUser.Username,
                Password = UpdateUser.OldPassword
            };

        if (await LoginManager.VerifyLogin(VerifyLogin))
        {
            if (UpdateUser.VerifyNewPassword == UpdateUser.NewPassword)
            {
                UpdateUser.Id = CurrentUser.Id;
                await UserManager.UpdateUserPassword(UpdateUser);
                AlertBox = String.Empty;
                StateHasChanged();
            }
            else
            {
                AlertBox = "Passwords do not match";
            }
        }
        else
        {
            AlertBox = "Old Password is incorrect";
        }
    }
}
